.detection-record {


    .button-div {
        display:inline-block;
        color:#444;
        border:1px solid #CCC;
        background:#DDD;
        box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
        cursor:pointer;
        vertical-align:middle;
        max-width: 200px;
        padding: 10px 20px;
        text-align: center;
        margin: 10px 0;

        &:hover {
            color:#DDD;
            box-shadow: 0 0 5px -1px rgba(0,0,0,0.6);
            background: #444;
            font-weight: bolder;
        }
    }
}