.main-block {
	display: flex;
	margin: auto;
	flex-direction: row;
	align-content: center;
	width: 92%;
	margin-top: 20px;
	background: lightgreen;

	@media screen and (max-width: 800px) {
    	flex-direction: column;
    	width: 99%;
    	margin: 5px 0;
  	}

	.figure {
		width: 30%;
		height: auto;

		img {
			width: 350px;

			@media screen and (max-width: 800px) {
				width: 200px;
			}

		}
	}

	.main-section {
		width: 70%;
		font-size: 2em;

		@media screen and (max-width: 800px) {
	    	font-size: 1.2em;
	    	width: 99%;
	    	margin: auto;
	  	}
	}


}