.navbar {
	width: 80%;
	margin: 0 auto;
    display: flex;
    flex-direction: column;
	margin-bottom: 5px;
    font-size: 18px;
    width: 200px;
    min-height: 100vh;
    background-color: #282c34;
    color: white;
   
    & .option {
        padding: 10px;
        color: white;
        font-size: 1.2em;

        &:hover {
            font-weight: bold;
            cursor: pointer;
        }			
    }
}