.ranch-options {
	width: 100%;
    display: flex;
    min-height: 10px;    
    padding: 5px 0;
    font-size: 20px;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    &:hover {
        background-color: lightblue;
    }

    .option {
    	width: 30%;

    	&:last-child {
    		
    	}
    }

    &:last-child {
		border-bottom: 1px solid darkgrey;
	}
}