.group {
	display: flex;
	justify-content: center;

	.form-input-label {
		width: 150px;
		text-align: right;
		padding: 0 5px;
	}

	.form-input {
		padding: 5px 20px;
		margin: 3px 0;
		box-sizing: border-box;
		
		&:focus {
			background-color: lightgreen;
		}

	}

	input[type=checkbox] {
		width: 25px;
		height: 18px;
		cursor: pointer;
	}

	
}