.inspection-records {
	width: 50%;
	display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px auto 0;

	.records-header {
		width: 100%;
        height: 40px;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid darkgrey;

        .record-block {
        	text-transform: capitalize;
            width: 23%;
            font-size: 1.2em;

            &:last-child {
                width: 8%;
                
            }
        }
	}

	.record-data {
		 width: 100%;
	    display: flex;
	    min-height: 10px;
	    border-bottom: 1px solid darkgrey;
	    padding: 15px 0;
	    font-size: 20px;
	    align-items: center;

		.data {
			width: 23%;
		}

		.remove-button {
			width: 8%;
			cursor: pointer;
		}
	}
}